* {
  transition-duration: 0.2s;
}

.colorlightblue {
  background: #060D49;
}

.header {
  width: 100%;
  height: 65px;
  background: #010632;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 47px;
       column-gap: 47px;
}
.header_p1 {
  color: #FFF;
  font-size: 24px;
  font-family: Jost;
  margin-left: 0px;
}
.header_p2 {
  color: #FFF;
  font-size: 24px;
  font-family: Jost;
}
.header_p3 {
  color: #FFF;
  font-size: 24px;
  font-size: 48px;
  font-family: Istok Web;
  font-weight: 700;
}
.header_p3_span1 {
  color: rgb(68, 68, 233);
}
.header_p3_span2 {
  color: yellow;
}
.header_p4 {
  color: #FFF;
  font-size: 24px;
  font-family: Jost;
}
.header_menu {
  width: 50px;
  height: 50px;
  display: none;
}

.unheader {
  width: 100%;
  height: 711px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.unheader_Wrapper {
  height: 100%;
  flex-grow: 1;
}
.unheader_img1 {
  background-image: url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.unheader_img2 {
  background-image: url(./img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.unheader_img3 {
  background-image: url(./img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.unheader_text {
  position: absolute;
  font-size: 96px;
  font-family: Jost;
  font-weight: 900;
  text-align: center;
  top: 213px;
  left: 0px;
  width: 100%;
}
.unheader_text_span-blue {
  color: rgb(68, 68, 233);
}
.unheader_text_span-yellow {
  color: yellow;
}

.blueblock {
  width: 100%;
  height: 461px;
  background: #010632;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueblock_in {
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.blueblock_in_text {
  height: 322px;
  width: 414px;
}
.blueblock_in_text_title {
  color: #FFF;
  /* h2 */
  font-size: 48px;
  font-family: Istok Web;
  font-weight: 700;
}
.blueblock_in_text_sometext {
  color: #FFF;
  font-size: 24px;
  font-family: Jost;
}
.blueblock_in_imges {
  height: 322px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.blueblock_in_imges_img1 {
  width: 365px;
  height: 251px;
}
.blueblock_in_imges_img2 {
  width: 265px;
  height: 203px;
  margin-top: 119px;
}

.blockimg {
  width: 100%;
  height: 773px;
  background: #010632;
  display: flex;
  flex-direction: column;
}
.blockimg_title {
  color: #FFF;
  text-align: center;
  /* h2 */
  font-size: 48px;
  font-family: Istok Web;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 900px;
  margin: 20px auto 0 auto;
}
.blockimg_blocks {
  height: 549px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.blockimg_blocks_leftblock {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}
.blockimg_blocks_leftblock_down {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.blockimg_blocks_leftblock_up {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  justify-content: space-between;
}
.blockimg_blocks_leftblock_up_two {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}
.blockimg_blocks_leftblock_up_two_1 {
  width: 364px;
  height: 114px;
}
.blockimg_blocks_leftblock_up_two_2 {
  width: 364px;
  height: 129px;
}
.blockimg_blocks_rightblock {
  background: rgba(0, 26, 255, 0.4745098039);
}

@media screen and (max-width: 1200px) {
  .blueblock {
    height: 700px;
  }
  .blueblock_in {
    row-gap: 40px;
    height: 600px;
    flex-direction: column;
  }
  .blueblock_in_text {
    width: 670px;
  }
  .blockimg_blocks_rightblock {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .blockimg_title {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .header {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .header_menu {
    display: block;
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .blockimg {
    height: 1800px;
  }
  .blockimg_blocks {
    width: 500px;
    margin: 0 auto;
    width: 90%;
  }
  .blockimg_blocks_leftblock {
    height: 850px;
  }
  .blockimg_blocks_leftblock_up {
    flex-direction: column;
    row-gap: 21px;
  }
  .blockimg_blocks_leftblock_up_two {
    display: none;
    margin: 0 auto;
  }
  .blockimg_blocks_leftblock_up_two_1 {
    width: 500px;
    height: auto;
  }
  .blockimg_blocks_leftblock_up_two_2 {
    width: 500px;
    height: auto;
  }
  .blockimg_blocks_leftblock_down {
    flex-direction: column;
    row-gap: 21px;
  }
  .widthadd {
    width: 75%;
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .blueblock {
    height: 800px;
  }
  .blueblock_in {
    height: 700px;
    width: 100%;
  }
  .blueblock_in_text {
    width: 90%;
    margin: 0 100px;
    text-align: center;
  }
  .blueblock_in_imges {
    height: 500px;
    flex-direction: column;
    justify-content: center;
  }
  .blueblock_in_imges_img2 {
    margin: 20px auto 0 auto;
  }
  .blockimg_title {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  .header {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .header_menu {
    width: 35px;
    height: 35px;
  }
  .header_p3 {
    color: #FFF;
    font-size: 27px;
    font-family: Istok Web;
    font-weight: 700;
  }
  .unheader_text {
    font-size: 60px;
  }
  .blueblock {
    height: 900px;
  }
  .blueblock_in_imges_img1 {
    width: 265px;
    height: 203px;
  }
  .blockimg_title {
    line-height: 30px;
  }
}
.colorlightblue {
  background: #060D49;
}/*# sourceMappingURL=style.css.map */